body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#joinBtn {
    padding: 400px 800px;
    font-size: 36px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radi
