body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.button-container {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#joinPanel {
    margin-top: 20px;
}
